/* This CSS file will create a row of five boxes with custom colors, using flexbox for layout. */

:root {
    --box1-colors: #11d48a;
    --box2-colors: #15a4cf;
    --box3-colors: #4e535e;
    --box4-colors: rgb(233, 90, 233);
    --box5-colors: rgb(247, 164, 12);
    --font-big: 4rem;
    --bxWidth: 3.5;
    --bxHeight: 2;
}

body, html {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.box {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    height: 50px;
    transform: translateY(-0.7rem);
    color: white;
}

.box1 {
    background-color: var(--box1-colors);
}

.box2 {
    background-color: var(--box2-colors);
}

.box3 {
    background-color: var(--box3-colors);
    color: white;
    width: auto;
    /* flex-grow: 1; */
    font-size: calc(var(--font-big) * 1);
    width: calc(var(--font-big) * var(--bxWidth));
    height: calc(var(--font-big) * var(--bxHeight));

}

.box4 {
    background-color: var(--box4-colors);
}

.box5 {
    background-color: var(--box5-colors);
}

.box1,
.box5 {
    font-size: calc(var(--font-big) * 0.25);
    width: calc(var(--font-big) * 0.25 * var(--bxWidth));
    height: calc(var(--font-big) * 0.25 * var(--bxHeight));
   }

   .box2,
   .box4 {
    font-size: calc(var(--font-big) * 0.5);
    width: calc(var(--font-big) * 0.5 * var(--bxWidth));
    height: calc(var(--font-big) * 0.5 * var(--bxHeight));
   }